<h1>Main#index</h1>
<p>search</p>


<div class="cards-search">
  <input type="text" id="cards-search-txt" autofocus>
  <div class="results" id="cards-search-results"></div>
</div>


<script>
  $(function() {
    new app.Cards;
  });
</script>