<h1>Main#index</h1>
<p>search</p>


 <section class="app-content">
    <div class="cards-search">
      <input type="text" id="cards-search-txt" autofocus>
      <div class="results" id="cards-search-results"></div>
    </div>
  </section>



 <% @cards.each do |card| %>
  <li><img src='<%= card.image_url %>' /></li>
<% end %>




<%= content_for :script do %>
  new app.Cards;
<% end %>