<h1>Main#index</h1>
<p>search</p>
<article class="app-cont">

<section class="app-title cf">
    <h1>Cards</h1>
    <%= link_to 'New Card', new_card_path %>
  </section>

 <section class="app-content">
    <div class="cards-search">
      <input type="text" id="cards-search-txt" autofocus>
      <div class="results" id="cards-search-results"></div>
    </div>
  </section>






</article>

<%= content_for :script do %>
  new app.Cards;
<% end %>

 <% @cards.each do |card| %>
  <li><img src='<%= card.image_url %>' /></li>
<% end %>