


 <% cards_path(:json) %>  

<h1>Add to the cube</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path %>


<script type="text/javascript">
    $(function() {
      

      var str;


      $('#select_origin').on('keyup', function() {
        str = `https://api.magicthegathering.io/v1/cards?name=${$('#select_origin').val()}&pageSize=5`
      })
      var request_add = `https://api.magicthegathering.io/v1/cards?name=${str}&pageSize=5`;

    $('#select_origin').autocomplete({
            minLength: 3,
            source: function (request, response) {
                     $.ajax({
                         url: str,
                         type: "GET",
                         data: request,
                         dataType: "json",
                         success: function (data) {
                             response($.map(data, function (el) {
                                 return { el };
                             }));
                         }
                     });
                },
            focus: function(event, ui) {
                $('#select_origin').val(ui.item.name);
                return false;
            },
            select: function(event, ui) {
                $('#select_origin').val(ui.item.name);
                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                
                .append( "<a>" + item.name + "</a>" )
                .append("<a>" + item.multiverse_id + "</a>")
                .append(console.log(item))
                .append(console.log(str))
                .appendTo( ul );
        };
    });
    </script>
