



<h1>Add to the cube</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path %>


<script type="text/javascript">
    // $('#select_origin').on('ready', 
    $(function() {

 // Below is the name of the textfield that will be autocomplete    
    $('#select_origin').autocomplete({
            minLength: 1,
            source: 'https://api.magicthegathering.io/v1/cards?name=' + $('#select_origin').val(),
            focus: function(event, ui) {
                $('#select_origin').val(ui.item.name);
                return false;
            },
 // Once a value in the drop down list is selected, do the following:
            select: function(event, ui) {
                $('#select_origin').val(ui.item.name);
 // and place the card.id into the hidden textfield called 'link_origin_id'. 
        // $('#link_origin_id').val(ui.item.card.multiverse_id);
                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                
                .append( "<a>" + item.name + "</a>" )
                .append("<a>" + item.multiverse_id + "</a>")
                .append(console.log(item))
                .appendTo( ul );
        };
    });
    </script>
