<script type="text/javascript">
    $(function() {

 // Below is the name of the textfield that will be autocomplete    
    $('#select_origin').autocomplete({
            minLength: 1,
            source: '<%= cards_path(:json) %>',
  // This updates the textfield when you move the updown the suggestions list, with your keyboard. In our case it will reflect the same value that you see in the suggestions which is the card.name.
            focus: function(event, ui) {
                $('#select_origin').val(ui.item.name);
                return false;
            },
 // Once a value in the drop down list is selected, do the following:
            select: function(event, ui) {
 // place the card.name value into the textfield called 'select_origin'...
                $('#select_origin').val(ui.item.name);
 // and place the card.id into the hidden textfield called 'link_origin_id'. 
        // $('#link_origin_id').val(ui.item.card.multiverse_id);
                return false;
            }
        })
 // The below code is straight from the jQuery example. It formats what data is displayed in the dropdown box, and can be customized.
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                
 // For now which just want to show the card.name in the list.
                .append( "<a>" + item.name + "</a>" )
                .append("<a>" + item.multiverse_id + "</a>")
                .appendTo( ul );
        };
    });
    </script>




<h1>Add to the cube</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path %>


