


 <% cards_path(:json) %>  

<h1>Add to the cube</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path %>


<script type="text/javascript">
    $(function() {

      var str;


      $('#select_origin').on('keyup', function() {
        str = `https://api.magicthegathering.io/v1/cards?name=${$('#select_origin').val()}&pageSize=20`
      })

    $('#select_origin').autocomplete({
            minLength: 3,
            source: function (request, response) {
                     $.ajax({
                         url: str,
                         type: "GET",
                         dataType: "json",
                         success: function (data) {
                            var flags = [], output = [], l = data.cards.length, i;
                              for( i=0; i<l; i++) {
                                  if( flags[data.cards[i].name]) continue;
                                  flags[data.cards[i].name] = true;
                                  output.push(data.cards[i]);
                              }
                             response(
                              $.map(output, function (card) {
                                 return { card };
                             }));
                         }
                     });
                },
            focus: function(event, ui) {
                $('#select_origin').val(ui.item.card.name);
                return false;
            },
            select: function(event, ui) {
                $('#select_origin').val(ui.item.card.name);
                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                .append( "<a>" + item.card.name + "</a>" )
                .append(console.log(item))
                .append(console.log(str))
                .appendTo( ul );
        };
    });
    </script>
